<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Check Slip</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Font Awesome -->
  <link rel="stylesheet" href="/assets/dashboard/plugins/fontawesome-free/css/all.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <!-- bootsrtap -->

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <!-- Theme style -->
  <link rel="stylesheet" href="/assets/dashboard/dist/css/mbbs.css">
  <!-- Google Font Source Sans Pro -->
  <link href="http://fonts.cdnfonts.com/css/berlin-sans-fb" rel="stylesheet">
  <style>
    body,html,li,.margin,.text-left, #center{
  font-family: 'Berlin Sans FB', sans-serif!important;
                                                
}  
th,td{
  font-size: 20px;
  
}
    @media print{
body{
 margin-top:50px!important;


}
table {
        page-break-inside: auto;
      }
      tr {
        page-break-inside: avoid;
        page-break-after: auto;
      }
#report tbody,#report thead,#tablereport td,#tablereport th,#tablereport1 td,#tablereport1 th,#borderhead th {
  border: 2px solid!important;
}
    }
</style>
</head>
<body class="hold-transition sidebar-mini">
    <div class="toolbar no-print">
      <button class="btn btn-info" onclick="window.print()">
        Print Certificate
      </button>
          <% if (course == 'MBBS'){ %>
      <a href="/mbbs_board"><button class="btn btn-info">Back</button></a>
      <%}%> <% if (course == 'MDMS'){ %>
      <a href="/mdms_board"><button class="btn btn-info">Back</button></a>
      <%}%> <% if (course == 'BSC'){ %>
      <a href="/bsc_board"><button class="btn btn-info">Back</button></a>
      <%}%> <% if (course == 'AISSC'){ %>
      <a href="/aissc_board"><button class="btn btn-info">Back</button></a>
      <%}%><% if (course == 'DIPLOMA IN NURSING'){ %>
      <a href="/nursing_board"><button class="btn btn-info">Back</button></a>
      <%}%>
    </div>
   
<section id="report"class="text-dark ">
  <div class="container d-flex justify-content-center">
         <div id="reportcard"class=""style="font-family:">
 
<div class="row justify-content-center text-dark">
  <div class="col-md-12"><h4 class="other-font"style="font-family:"><u>TIRUNELVELI MEDICAL COLLEGE, TIRUNELVELI-11. </u>
</h4>
     </div>
         <h4><b> <u style="font-family:">CHECK SLIP FOR VERIFICATION OF ADMISSION DOCUMENTS
        </u>
</b></h4><br>

      
</div>
<%
if(userData1.length!=0){
var i=1;
userData1.forEach(function(classdata1){
%>   
<%
if(userData.length!=0){
var i=1;
userData.forEach(function(classdata){
%>    
<p class="text-center mt-5 text-dark"style="font-size: 20px;"><b ><%=classdata1.course %> COURSE ADMISSION <%=classdata.academic_year %> SESSION
</b></p>
<%  i++; }) %>
<% } else{ %>

<% } %>


<%  i++; }) %>
<% } else{ %>

<% } %>
<p class="text-center text-dark"style="font-size: 20px;"><b >COURSE: M.Ch.,Plastic & Reconstructive Surgery
</b></p>

<div class="row justify-content-center mt-5"id="rowfont">
  <div class="col-md-3">
    <p><b><i>A.R.No. </i></b></p>
        <p><b><i>Neet Mark </i></b></p>
        <p><b><i>Neet Roll No 

        </i></b></p>
    <p><b><i>Year of Admission  </i></b></p>
    <p><b><i>Name </i></b></p>

</div>
  <div class="col-md-3"id="rowfont1">
    <%
if(userData1.length!=0){
var i=1;
userData1.forEach(function(classdata1){
%>
        <p><b><i>:&nbsp;&nbsp;<%=classdata1.ar_no %></i></b></p>
        <p><b><i>:&nbsp;&nbsp;<%=classdata1.neet_mark %></i></b></p>
       
      
        <p><b><i>:&nbsp;&nbsp;<%=classdata1.neet_roll_no %></i></b></p>
        
        <%  i++; }) %>
        <% } else{ %>
      
        <% } %>
        <%
        if(userData.length!=0){
        var i=1;
        userData.forEach(function(classdata){
        %>
        <p><b><i>:&nbsp;&nbsp;<%=classdata.academic_year %></i></b></p>
        <p><b><i>:&nbsp;&nbsp;<%=classdata.name %></i></b></p>

        <%  i++; }) %>
        <% } else{ %>
      
        <% } %>
     
</div>
  <div class="col-md-3">
    <p><b><i>Rank </i></b></p>

        <p><b><i>Community  
</i></b></p>
 <p><b><i>Selected Category 
</i></b></p>

    <p class=""><b><i>Name of the Course  </i></b></p>
    <p class=""><b><i>Date of Admission  </i></b></p>

</div>
   <div class="col-md-3"id="rowfont1">
    <%
    if(userData1.length!=0){
    var i=1;
    userData1.forEach(function(classdata1){
    %>
    <p><b><i>:&nbsp;&nbsp;<%=classdata1.rank %></i></b></p>
    <%  i++; }) %>
    <% } else{ %>
  
    <% } %>
    <%
    if(userData.length!=0){
    var i=1;
    userData.forEach(function(classdata){
    %>
        <p><b><i>:&nbsp;&nbsp;<%=classdata.community %></i></b></p>
        <%  i++; }) %>
        <% } else{ %>
      
        <% } %>
        <%
        if(userData1.length!=0){
        var i=1;
        userData1.forEach(function(classdata1){
        %>
        <p><b><i>:&nbsp;&nbsp;<%=classdata1.selected_category %></i></b></p>
        <%  i++; }) %>
        <% } else{ %>
      
        <% } %>
        <%
        if(userData1.length!=0){
        var i=1;
        userData1.forEach(function(classdata1){
        %>
        <p><b><i>:&nbsp;&nbsp;<%=classdata1.course %></i></b></p>
        <%  i++; }) %>
        <% } else{ %>
      
        <% } %>
        <%
        if(userData1.length!=0){
        var i=1;
        userData1.forEach(function(classdata1){
        %>
        <p class=""><b><i>:&nbsp;&nbsp;<%=classdata1.date_of_admission %></i></b></p>
        <%  i++; }) %>
        <% } else{ %>
      
        <% } %>

        
</div>

</div>
<div class="table-responsive text-left mt-2"id="tabres1">
    <table class="table table-bordered "id="tablereport1">
  <thead class="th">
    <tr>
      <th scope="col"class="text-center">S.No</th>
      <th scope="col"width="300px"class="text-center">Certificate Type 
</th>
      <th scope="col"class="text-center">Status</th>
      <th scope="col"class="text-center">Due Date</th>
            <th scope="col"class="text-center">Remarks </th>
  
      

    </tr>
  </thead>
<tbody class="text-left th">
  <tr>
    <td class="text-center">1</td>
    <td><%=check_slip[0] %></td>
    <td><%=check_status[0] %>
    </td>
    <td><%=check_date[0] %></td>
   <td><%=check_remark[0] %></td>
  </tr>
  <tr>
    <td class="text-center">2</td>
    <td><%=check_slip[1] %></td>
    <td><%=check_status[1] %>
    <td><%=check_date[1] %></td>

   <td><%=check_remark[1] %></td>
  </tr>
  <tr>
    <td class="text-center">3</td>
    <td><%=check_slip[2] %></td>
   <td><%=check_status[2] %>
    <td><%=check_date[2] %></td>
    <td><%=check_remark[2] %></td>
  </tr>
  <tr>
    <td class="text-center">4</td>
      <td><%=check_slip[3] %></td>

    <td><%=check_status[3] %>
    <td><%=check_date[3] %></td>
   <td><%=check_remark[3] %></td>
  </tr>
  <tr>
    <td class="text-center">5</td>
    <td><%=check_slip[4] %></td>
     <td><%=check_status[4] %>
    <td><%=check_date[4] %></td>
    <td><%=check_remark[4] %></td>
  </tr>
  <tr>
    <td class="text-center">6</td>
    <td><%=check_slip[5] %></td>
     <td><%=check_status[5] %>
    <td><%=check_date[5] %></td>
   <td><%=check_remark[5] %></td>
  </tr>
  <tr>
    <td class="text-center">7</td>
    <td><%=check_slip[6] %></td>
    <td><%=check_status[6] %>
    <td><%=check_date[6] %></td>
    <td><%=check_remark[6] %></td>
  </tr>
  <tr>
    <td class="text-center">8</td>
    <td><%=check_slip[7] %></td>
     <td><%=check_status[7] %>
    <td><%=check_date[7] %></td>
    <td><%=check_remark[7] %></td>
  </tr>
  <tr>
    <td class="text-center">9</td>
    <td><%=check_slip[8] %></td>
    <td><%=check_status[8] %>
    <td><%=check_date[8] %></td>
    <td><%=check_remark[8] %></td>
  </tr>
  <tr>
    <td class="text-center">10</td>
    <td><%=check_slip[9] %></td>
    <td><%=check_status[9] %>
    <td><%=check_date[9] %></td>
    <td><%=check_remark[9] %></td>
  </tr>
  <tr>
    <td class="text-center">11</td>
    <td><%=check_slip[10] %></td>
    <td><%=check_status[10] %>
    <td><%=check_date[10] %></td>
    <td><%=check_remark[10] %></td>
  </tr>
  <tr>
    <td class="text-center">12</td>
    <td><%=check_slip[11] %></td>
     <td><%=check_status[11] %>
    <td><%=check_date[11] %></td>
   <td><%=check_remark[11] %></td>
  </tr>
  <tr>
    <td class="text-center">13</td>
    <td><%=check_slip[12] %></td>
     <td><%=check_status[12] %>
    <td><%=check_date[12] %></td>
    <td><%=check_remark[12] %></td>
  </tr>
  <tr>
    <td class="text-center">14</td>
    <td><%=check_slip[13] %></td>
     <td><%=check_status[13] %>
    <td><%=check_date[13] %></td>
    <td><%=check_remark[13] %></td>
  </tr>
  <tr>
    <td class="text-center">15</td>
    <td><%=check_slip[14] %></td>
    <td><%=check_status[14] %>
    <td><%=check_date[14] %></td>
    <td><%=check_remark[14] %></td>
  </tr>

  <tr>
    <td class="text-center">16</td>
    <td><%=check_slip[15] %></td>
     <td><%=check_status[15] %>
    <td><%=check_date[15] %></td>
   <td><%=check_remark[15] %></td>
  </tr>
  </tbody>
  </table>
  </div>
  <div class="table-responsive text-left mt-1"id="tabres1">
      <table class="table table-bordered "style="page-break-before:always"id="tablereport1">
        <thead class="th">
            <tr>
              <th scope="col" class="text-center">S.No</th>
              <th scope="col" class="text-center">Certificate Type 
        </th>
              <th scope="col" class="text-center">Status</th>
              <th scope="col" class="text-center">Due Date</th>
                    <th scope="col" class="text-center">Remarks </th>
          
              
        
            </tr>
          </thead>
          <tbody>
            <tr>
                <td class="text-center">17</td>
                <td style="width:350px"><%=check_slip[16] %></td>
                 <td><%=check_status[16] %>
                <td><%=check_date[16] %></td>
               <td><%=check_remark[16] %></td>
              </tr>
              <tr>
                <td class="text-center ">18</td>
                <td class=""><%=check_slip[17] %></td>
                 <td class=""><%=check_status[17] %>
                <td class=""><%=check_date[17] %></td>
               <td class=""><%=check_remark[17] %></td>
              </tr>
              <tr>
                <td class="text-center ">19</td>
                <td class=""><%=check_slip[18] %></td>
                 <td class=""><%=check_status[18] %>
                <td class=""><%=check_date[18] %></td>
               <td class=""><%=check_remark[18] %></td>
              </tr>
              <tr>
                <td class="text-center">20</td>
                <td><%=check_slip[19] %></td>
                 <td><%=check_status[19] %>
                <td><%=check_date[19] %></td>
               <td><%=check_remark[19] %></td>
              </tr>
              <tr>
                <td class="text-center">21</td>
                <td><%=check_slip[20] %></td>
                 <td><%=check_status[20] %>
                <td><%=check_date[20] %></td>
               <td><%=check_remark[20] %></td>
              </tr>
              <tr>
                <td class="text-center">22</td>
                <td><%=check_slip[21] %></td>
                 <td><%=check_status[21] %>
                <td><%=check_date[21] %></td>
               <td><%=check_remark[21] %></td>
              </tr>
              <tr>
                <td class="text-center">23</td>
                <td><%=check_slip[22] %></td>
                 <td><%=check_status[22] %>
                <td><%=check_date[22] %></td>
               <td><%=check_remark[22] %></td>
              </tr>
              <tr>
                <td class="text-center">24</td>
                <td><%=check_slip[23] %></td>
                 <td><%=check_status[23] %>
                <td><%=check_date[23] %></td>
               <td><%=check_remark[23] %></td>
              </tr>
              <tr>
                <td class="text-center">25</td>
                <td><%=check_slip[24] %></td>
                 <td><%=check_status[24] %>
                <td><%=check_date[24] %></td>
               <td><%=check_remark[24] %></td>
              </tr>
              <tr>
                <td class="text-center">26</td>
                <td><%=check_slip[25] %></td>
                 <td><%=check_status[25] %>
                <td><%=check_date[25] %></td>
               <td><%=check_remark[25] %></td>
              </tr>
              <tr>
                <td class="text-center">27</td>
                <td><%=check_slip[26] %></td>
                 <td><%=check_status[26] %>
                <td><%=check_date[26] %></td>
               <td><%=check_remark[26] %></td>
              </tr>
              <tr>
                <td class="text-center">28</td>
                <td><%=check_slip[27] %></td>
                 <td><%=check_status[27] %>
                <td><%=check_date[27] %></td>
               <td><%=check_remark[27] %></td>
              </tr>
          </tbody>
      </table>




  </div>
  <div class="row justify-content-center  text-dark"style="font-size: 20px;top:30px;position:relative;font-style:italic"id="gap">
    <div class="col-md-3"id="rowfont1">
      <p><b><i style="font-size: 20px;">Name :</i></b></p>
    </div>
    <div class="col-md-3"id="rowfont1">
      <%
      if(userData.length!=0){
      var i=1;
      userData.forEach(function(classdata){
      %>
     
      <p><b><i style="font-size: 20px;"><%=classdata.name %></i></b></p>

      <%  i++; }) %>
      <% } else{ %>
    
      <% } %>
    </div>
    <div class="col-md-3"id="rowfont1">
      <p><b><i style="font-size: 20px;">Date of Admission :</i></b></p>
    </div>

    <div class="col-md-3"id="rowfont1">
      <%
      if(userData1.length!=0){
      var i=1;
      userData1.forEach(function(classdata1){
      %>
      <p><b><i style="font-size: 20px;"><%=classdata1.date_of_admission %></i></b></p>

      <%  i++; }) %>
      <% } else{ %>
    
      <% } %>
    </div>
    <div class="col-md-12">
    <p id="rowfont1"><b><i style="font-size: 20px;">Verified all the above Original Documents:-</i></b></p>
    </div>
    <div class="col-md-9"id="prof1">
      <p><b>PROF-I</b></p>
    </div>
    <div class="col-md-3 "id="prof1">
          <p><b>PROF-II</b></p>
  
    </div>
     <div class="col-md-4 "id="prof1">
      <p><b>Asst</b></p>
    </div>
    <div class="col-md-5 "id="prof1">
          <p class="pl-5"><b>OS</b></p>
  
    </div>
     <div class="col-md-3 "id="prof1">
          <p><b>JAO</b></p>
  
    </div>
     <div class="col-md-9 "id="prof1">
          <p><b>VP</b></p>
  
    </div>
     <div class="col-md-3 "id="prof1">
          <p><b>DEAN</b></p>
  
    </div>
  </div>
  </div>
</div>
</div>
</section>

   




 
<!-- jQuery bootstrap -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script>
UPLOADCARE_PUBLIC_KEY = 'demopublickey';
</script>
<script src="https://ucarecdn.com/libs/widget/3.x/uploadcare.full.min.js" charset="utf-8"></script>
<!-- AdminLTE App -->
<script src="js/adminlte.js"></script>
<script src="js/mbbs.js"></script>

<!-- AdminLTE for demo purposes -->
<script src="js/demo.js"></script>
<!-- page script -->


</body>

</html>